name: Fly Production Deploy
on:
  push:
    branches:
      - "release/v*"
jobs:
  deploy-web:
    name: Deploy production web
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to production..."

